{%extends "base.html" %}
{%load static %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}

<h1>Lista de Clientes</h1> 
<div class="page-header">
<div class="page-title">
<h4>Clientes
</h4>
<h6>Maneja tus Clientes</h6>
</div>
<div class="page-btn">
<a href="/addclient" class="btn btn-added"><img src="{% static 'img/icons/plus.svg' %}" alt="img" class="me-1">Agregar Cliente</a>
</div>
</div>

<div class="table-responsive">
<table class="table  datanew">
<thead>
<tr>
<th>
<label class="checkboxs">
<input type="checkbox" id="select-all">
<span class="checkmarks"></span>
</label>
</th>
<th>Nombre del cliente</th>
<th>Email</th>
<th>telefono</th>
<th>Direccion</th>
<th>DNI/Cedula de identidad</th>
<th>Acción</th>
</tr>
</thead>

<tbody>
{% for producto in productos %}
<tr>
<td>
<label class="checkboxs">
<input type="checkbox">
<span class="checkmarks"></span>
</label>
</td>
<td>{{ producto.nombre }}</td>
<td>{{ producto.precio_compra }}</td>
<td>{{ producto.precio_venta }}</td>
<td>{{ producto.stock }}</td>
<td>{{ producto.proveedor }}</td>
<td></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>


{% endblock %}

{% block scripts %} 
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/inventario-datatable.js' %}"></script>
{% endblock %}