{% extends "base_login_register.html" %}
{% load static %}
{% block css %}{% endblock %}
{% block title %} Iniciar Sesión {% endblock %}

{% block content %} 
<h1>Hola, aqui va el formulario de login</h1>
<div class="login-userheading">
<h3>Iniciar Sesión</h3>
</div>
<form action="" method="POST">
{% csrf_token %}
<div class="form-login">
<label>Correo Electrónico</label>
<div class="form-addons">
<input type="text" placeholder="Ingrese su correo electrónico" id="email" name="email" required>
<img src="{% static 'img/icons/mail.svg' %}" alt="img">
</div>
</div>
<div class="form-login">
<label>Contraseña</label>
<div class="pass-group">
<input type="password" class="pass-input" placeholder="Ingrese su contraseña" id="contraseña" name="contraseña" required>
<span class="fas toggle-password fa-eye-slash"></span>
</div>
</div>
<div class="form-login">
<button type="submit" class="btn btn-login">Iniciar Sesión</button>
</div>
</form>
<div class="signinform text-center">
<h4>¿No tienes una cuenta? <a href="/signup" class="hover-a">Regístrate</a></h4>
</div>
{% endblock %}
{% block scripts %}{% endblock %}