{%extends "base.html" %}
{%load static %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}

<div class="page-header">
    <div class="page-title">
        <h4>Mi Perfil</h4>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="profile-set">
            <div class="profile-head">
            </div>
            <div class="profile-top">
                <div class="profile-content">
                    <div class="profile-contentname">
                        <h2>Datos Personales</h2>
                        <h4>Información de la cuenta</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label>Nombre completo</label>
                    <input type="text" value="{{ user.first_name|default:user.username }}" class="form-control"
                        placeholder="Nombre completo" readonly>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" value="{{ user.email }}" class="form-control" placeholder="nombre@ejemplo.com"
                        readonly>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                    <label>Contraseña</label>
                    <div class="pass-group">
                        <input type="password" class="pass-input form-control" value="********" placeholder="Contraseña"
                            readonly>
                        <span class="fas toggle-password fa-eye-slash"></span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <a href="{% url 'edit_profile' %}" class="btn btn-submit me-2">Cambiar Datos</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}