{%extends "base.html"%}
{%load static %}

{% block title %}Servicios{% endblock %}

{% block content %}

<h1>Lista de Servicios</h1> 
<div class="page-header">
<div class="page-title">
<h4>Servicios
</h4>
<h6>Maneja tus Servicios</h6>
</div>
<div class="page-btn">
<a href="/addclient" class="btn btn-added"><img src="{% static 'img/icons/plus.svg' %}" alt="img" class="me-1">Agregar Cliente</a>
</div>
</div>

<div class="table-responsive">
<table class="table  datanew">
<thead>
<tr>
<th>
<label class="checkboxs">
<input type="checkbox" id="select-all">
<span class="checkmarks"></span>
</label>
</th>
<th>Nombre del cliente</th>
<th>Email</th>
<th>telefono</th>
<th>Direccion</th>
<th>DNI/Cedula de identidad</th>
<th>Acción</th>
</tr>
</thead>

<tbody>
{% for cliente in clientes %}
<tr>
<td>
<label class="checkboxs">
<input type="checkbox">
<span class="checkmarks"></span>
</label>
</td>
<td>{{ cliente.nombre }}</td>
<td>{{ cliente.email }}</td>
<td>{{ cliente.telefono }}</td>
<td>{{ cliente.direccion }}</td>
<td>{{ cliente.dni }}</td>
<td></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>


{% endblock %}