{%extends "base.html"%}
{%load static %}

{% block title %}Servicios{% endblock %}

{% block content %}

<h1>Lista de Servicios</h1> 
<div class="page-header">
<div class="page-title">
<h4>Servicios
</h4>
<h6>Maneja tus Servicios</h6>
</div>
<div class="page-btn">
<a href="/addservice" class="btn btn-added"><img src="{% static 'img/icons/plus.svg' %}" alt="img" class="me-1">Agregar Servicio</a>
</div>
</div>

<div class="table-responsive">
<table class="table  datanew">
<thead>
<tr>
<th>
<label class="checkboxs">
<input type="checkbox" id="select-all">
<span class="checkmarks"></span>
</label>
</th>
<th>Nombre del Servicio</th>
<th>Descripcion</th>
<th>Precio</th>
<th>Acción</th>
</tr>
</thead>

<tbody>
{% for servicio in servicios %}
<tr>
<td>
<label class="checkboxs">
<input type="checkbox">
<span class="checkmarks"></span>
</label>
</td>
<td>{{ servicio.nombre }}</td>
<td>{{ servicio.descripcion }}</td>
<td>{{ servicio.precio }}</td>

<td></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% block scripts %} 
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/inventario-datatable.js' %}"></script>
{% endblock %}

{% endblock %}